@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}  
.Torneo{
    width: 100%;
   height: fit-content;
    display: flex;
    align-content: center;
    flex-direction: column;
    &__containerPartido{
        width:100%;
        background-color:#114d0b!important;
        &--padding0{
            padding:0px;
                margin: 0px;
            }
    }
}
