.container_torneo{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 16px;
    background-color: lightsteelblue;
    align-items:center;
    
}
.informacion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    background-color: blanchedalmond;
}
p {
    margin: 0px;
}
h2 {
    font-size: 20px;
}
h3{
    font-size: 16px;
}
.logoTorneo{
    background-color: aquamarine;
}