.DetallePartidoTorneoContainer{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 1px solid #8080804a;

    &__upperInfo{
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: lightslategrey;
    }
    .DetallePartidoTorneo{
        
        display: flex;
        flex-direction: row;
        &__horaPista{
            & i {
                padding-right: 10px;
            }
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__hora{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: red;
                font-weight: 600;
            }
            &__horarioComienzo{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            &__check{
                min-height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: self-end;
                color:green;
                
            }
        }
        &__informacion{
            width: 85%;
            display: flex;
            flex-direction: row;
            padding: 0px 8px;
            &__jugadores{
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .pierde{
                    font-weight: normal;
                }
                &__jugador{
                        align-self: self-start;
                }
                .gana{
                    font-weight: bold;
                }
            }
            &__resultados{
                width: 35%;
                display: flex;
                flex-direction: row;
                &__puntos{
                    width: 46%;
                    display: flex;
                    flex-direction: row;
                    &__punto{
                        width: 100%;
                        &__pelota{
                            .iconoSaque{
                            height: 20px;
                            }
                            .iconoSaque_hidden{
                            visibility: hidden;
                            height: 20px;
                            }
                        }
                        &__info{
                            color:#488235;
                        }
                    }
                    
                }
                
                &__set{
                    width: 18%;
                    font-weight: 500;
                    &--activo{
                        color: indianred;
                    }
                }
            }
            
        }
    }
}

@media (min-width: 1200px) {
    .DetallePartidoTorneoContainer{
        .DetallePartidoTorneo{
            &__informacion{
                &__resultados{
                    &__puntos{
                        &__punto{
                            &__pelota{
                                .iconoSaque{
                                    height: 36px;
                                    }
                                    .iconoSaque_hidden{
                                    visibility: hidden;
                                    height: 36px;
                                    } 
                            }
                        }
                    }
                }
            }
        }
    }
  
  }

  @media (min-width: 1400px) {
    .DetallePartidoTorneoContainer{
            width: 50%;
            
    }
    .DetallePartidoTorneoContainer:nth-child(odd){
        border-right: 1px solid rgba(128, 128, 128, 0.29);
    }
  
  }
