.pieTorneos{
    background-color: #f8f9fa;
    padding: 10px;
    width: 100%;
    &__logos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        &--item{
            &__logo{
                height: 9vh;
            }
        }
    }
    &__legal{
        
    }
}