
.contianerPartidoTv{
    height: 100vh;
    background-image: url('../../Imagenes/pista3.jpg');
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resultadosTv{
    height: 60vh;
    background-color: #19331f;
   
}
.texto_info{
    font-family: arial;
    font-weight: bold;
    font-size: 7vh;
}
.texto_nombres{
    font-family: arial;
    font-weight: bold;
    font-size: 10vw;
    color: aliceblue;
}
.nombresTv{
    padding: 0rem 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.nombretorneo{
    height: 13vh;
    padding: 0 1vw;
    width: 60vw;
    color: #114d0b;
    background-color: white;
    &--ancho{
        width: 80vw;
    }
}
.pistaTv{
    width: 100%;
    display: flex;
    color: #114d0b;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jugador1Tv, .jugador2Tv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pelotaTv{
    width: 5vw;
}

.logoPista{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1vw;
}

.nombre_hora{
    display: flex;
    flex-direction: row;
    font-size: 4vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.jugadorTv{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resultadoTv{
    width: 45%;
    min-width: 36%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10vw;
    line-height: 29vh;
    font-family: arial;
    font-weight: bold;
    justify-content: space-evenly;
}
.nombre_jugador{
    text-align: -webkit-left;
    line-height: 14vh;
}
.textoPequeño{
    font-size: 5vw;
    line-height: 12vh;
}
.grupo1{    
    width: 66%;
    align-items: center;
    flex-direction: row;
    display: flex;
    color: aliceblue;
    justify-content: center;
}
.grupo2{    
    line-height: 25vh;
    width: 33%;
    align-items: center;
    flex-direction: row;
    display: flex;
    color: #114d0b;
    background-color: white;
    justify-content: center;
}
.setTv{
    padding: 0 1vw;
}


.logosBlanco{
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #374a3b;
}
.logoTv{
   height: 10vh;
}
.logoTv2{
    width: 10vw;
}
.logoTv3{
    width:5vw;
}
.logoTv4{
    width: 13vw;
}
.logoTv5{
    width: 18vw;
}
.dominos{
    width: 100px;
    height: 100px;
}
.altura_modificada{
    height: 50px;
}
.logo_club{
    width: 15vw;
}

.partidotv{
    background-image: url('../../Imagenes/pista3.jpg');
}

.logo_club{
    width: 15vh;
}

.logo_pista{
    width: 15vh;
}
@media (min-width: 768px) {
    .logo_club{
        width: 15vw;
    }
    .logoPista .logo_pista{
        width: 22vh;
    }
    .nombre_hora{
        font-size: 3vw;
    }
    .resultadoTv{
        width: 33%;
    }
    .texto_nombres{
        font-size: 7vw;
    }
  }
