
.contianerPartidoTv{
    height: 100vh;
    background-image: url('../../Imagenes/pista3.jpg');
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resultadosTv{
    height: 45vh;
    background-color: #19331f;
   
}
.texto_info{
    font-family: arial;
    font-weight: bold;
    font-size: 3vw;
    height: 10vh;
}
.texto_nombres{
    font-family: arial;
    font-weight: bold;
    font-size: 4vw;
    color: aliceblue;
}
.nombresTv{
    padding: 0rem 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.nombretorneo{
    height: 10vh;
    padding: 0 1vw;
    width: 100%;
    color: #114d0b;
    background-color: white;
}
.pistaTv{
    width: 100%;
    display: flex;
    color: #114d0b;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.jugador1Tv, .jugador2Tv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pelotaTv{
    width: 3vw;
}

.logoPista{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logoPista .logo_pista{
    width: 25vh;
}
.nombre_hora{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.jugadorTv{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resultadoTv{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 4vw;
    font-family: arial;
    font-weight: bold;
    justify-content: space-evenly;
}
.grupo1{    
    width: 80%;
    align-items: center;
    flex-direction: row;
    display: flex;
    color: aliceblue;
}
.grupo2{    
    width: 20%;
    align-items: center;
    flex-direction: row;
    display: flex;
    color: #114d0b;
    background-color: white;
    justify-content: center;
}
.setTv{
    padding: 0 1vw;
}


.publicidad{
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #374a3b;
}
.logoTv{
    width: 5vw;
}
.logoTv2{
    width: 11vw;
}
.logoTv3{
    width: 6vw;
}
.logoTv4{
    width: 9vw;
}
.logoTv5{
    width: 16vw;
}
.dominos{
    width: 100px;
    height: 100px;
}
.altura_modificada{
    height: 50px;
}




















.partidotv{
    background-image: url('../../Imagenes/pista3.jpg');
}